{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "semi": false,
  "experimentalTernaries": true,
  "proseWrap": "always",
  "quoteProps": "consistent"
}
